@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    font-family: "Exo 2";
}

body {
    background-color: #000;
}

#outer-header {
    height: 80px;
    background-color: #0f0f0f;
}

#inner-header {
    width: 75%;
    /* background: blue; */
    height: 100%;
    margin: auto;
    display: table;
}

#logo {
    display: table-cell;
    text-align: left;
    font-size: 25px;
    padding: 10px;
    font-weight: 700;
    vertical-align: middle;
    text-shadow: 7px 7px 3px #202020;
    user-select: none;
    /* float: left; */
}

#base-canvas {
    display: table;
    width: 100%;
    text-align: center;
}

#content-wrapper {
    /* background-color: blueviolet;
    padding: 50px;
    border-radius: 5px; */
    width: max-content;
    display: flex;
    margin: 0 auto;
    position: relative;
}

#content-wrapper-parent {
    text-align: center;
    width: auto;
    /* height: min-content; */
    margin: 10px auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.compound:hover {
    box-shadow: 2px 2px 3px #87cfeb;
}

.compound {
    padding: 7px;
    margin: 10px 10px;
    display: inline-block;
    background-color: #222222;
    border-radius: 5px;
    font-size: 20px;
    user-select: none;
    box-shadow: 2px 2px 3px #87cfeb50;
    transition: 0.2s;
    /* border: 1px solid white;
    border-radius: 5px; */
}

#arrows {
    flex-direction: column;
}

.arrow-wrapper {
    display: flex;
    flex-grow: 1;
}

.arrow {
    /* display: table-cell; */
    border-radius: 3px;
    /* border: 1px solid snow; */
    width: 100%;
    /* vertical-align: middle; */
}

.arrow-head {
    border: 7px solid transparent;
    border-left-color: lime;
    border-right-width: 0px;
}

.arrow-tail {
    background-color: lime;
    width: 100%;
    min-width: 70px;
    padding: 1px;
    margin: 4px 0;
}

.arrow-structure {
    display: flex;
    flex-direction: row;
}

#reactant img {
    width: 30px;
    filter: invert(1);
}

#products img {
    width: 30px;
    filter: invert(1);
}

.arrow-content {
    /* border: 1px solid white;
    border-radius: 5px; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.give {
    display: block;
    /* background-color: rgb(32, 56, 48); */
    color: red;
}

.in_presence_of {
    display: block;
    color: skyblue;
    /* background-color: rgb(66, 77, 29); */
}